flynt-component[name='NavigationBurger'] {
  --navigation-height: 4rem;
  background-color: var(--color-background);
  border-block-end: 1px solid var(--color-border);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .container {
    align-items: center;
    block-size: var(--navigation-height);
    display: flex;
  }

  .popover {
    background-color: var(--color-background);
    block-size: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
    border: 0;
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    inset-block-start: var(--wp-admin--admin-bar--height, 0px);
    inset-inline-start: 0;
    list-style: none;
    max-inline-size: 400px;
    overflow-y: auto;
    padding: var(--container-spacing);
    pointer-events: auto;
    position: fixed;
    transition: translate .3s cubic-bezier(.42,0,.1,1);
    translate: -100% 0;
    z-index: 9999;

    &:popover-open {
      translate: 0 0;
    }

    &::backdrop {
      background-color: hsl(0, 0%, 0%, .5);
    }
  }

  @import 'Partials/burger';
  @import 'Partials/logo';
  @import 'Partials/menu';
}
