flynt-component[name='ListLogos'] {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flow-space);
    list-style: none;

    &__item {
      align-items: center;
      display: flex;
      justify-content: center;
      max-inline-size: 10rem;
      padding-inline-end: 2rem;
      overflow: hidden;
      position: relative;
    }

    &__link {
      block-size: 100%;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
      text-decoration: none;
      z-index: 1;
    }
  }

  @import 'Partials/image';
}
