<flynt-component name="FormCheckout" load:on="idle" class="componentSpacing">
  <div class="container">
    {% set form_shortcode = '[woocommerce_checkout]' %}
    {{ form_shortcode|shortcodes }}
  </div>
</flynt-component>
