{% if images|length > 1 %}
  <div class="sliderMain-navigation">
    <button type="button" class="sliderMain-navigation-button sliderMain-navigation-button--prev" data-ref="prev" aria-label="{{ labels.prevSlideMessage|e }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="m15 18-6-6 6-6"/></svg>
    </button>
    <button type="button" class="sliderMain-navigation-button sliderMain-navigation-button--next" data-ref="next" aria-label="{{ labels.nextSlideMessage|e }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="m9 18 6-6-6-6"/></svg>
    </button>
  </div>
{% endif %}
