.sliderMain-navigation {
  margin-block-start: 0;

  &-button {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    block-size: 2.5rem;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    inline-size: 2.5rem;
    inset-block-start: 50%;
    justify-content: center;
    margin-block-start: 0;
    position: absolute;
    translate: (0 -50%);
    z-index: 10;

    &.swiper-button-disabled {
      visibility: hidden;
    }

    &--prev {
      inset-inline-start: var(--flow-space);
    }

    &--next {
      inset-inline-end: var(--flow-space);
    }
  }
}
