.sliderMain-pagination {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-block-start: var(--flow-space);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .swiper-pagination-bullet {
    block-size: 1rem;
    border-radius: 9999px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    display: block;
    inline-size: 1rem;
    padding: 2px;

    &-active::before {
      background-color: var(--color-accent);
      block-size: 100%;
      border-radius: 9999px;
      content: '';
      display: block;
      inline-size: 100%;
    }
  }
}
