<flynt-component name="FormCart" load:on="idle" class="componentSpacing">
  <div class="container">
    {% set form_shortcode = '[woocommerce_cart]' %}
    {{ form_shortcode|shortcodes }}
  </div>
</flynt-component>
