.flyntComponentSearch {
  display: flex;
  flex-direction: column;

  .acf-fc-popup.top & {
    flex-direction: column-reverse;
  }

  &-field[type='text'] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 0.25rem;
    color: #000;
    margin-block: .5rem;
    outline: 0;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;

    &:focus {
      box-shadow: none;
      outline: 0;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &-noResults {
    padding-block: 5px;
    padding-inline: 10px;
  }
}
