<ul class="menu">
  {% for item in items %}
    <li class="menu-item">
      <a class="menu-link {{- item.current ? ' menu-link--current' }}" href="{{ item.link|e('esc_url') }}" {{- item.is_target_blank ? ' target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
