.list__figure {
  align-items: center;
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  justify-content: center;

  &-image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: contain;
  }
}
